* {
  /* color: rgb(6, 6, 6); */
  font-family: 'Cuprum', sans-serif;
  font-size: small;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
} 

/* article>p {
  /* border:solid  rgb(168, 76, 10) 5px; 
  border-radius: 10px;
} */
/* link {
  padding
} */

img {
  border-radius: 30px;
}
li {
  /* border:solid  rgb(2, 101, 19) 5px; */
  border-radius: 10px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 
  sans-serif;
  font-weight: bold;
  font-size: 42px;
  color:rgb(6, 6, 6);
}

/* p {
 epmty
} */
 
nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  font-size: 24px;
  nav-left: auto;
  float: left;
  color: rgb(14, 3, 3);
  padding-top: 30px;
  padding-left: 50px;
}
 
/* h2 {
  font-family: 'Cuprum', sans-serif;
  float: right;
} */

h3 {
  font-size: 30px;
  text-align: center;
}

table, td, thead {
  color: rgb(0, 0, 0);
  background-color: rgb(156, 159, 231);
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  border: solid  rgb(0, 62, 78) 3px;
  border-collapse: collapse;
  border-width: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 100px; 
  /* margin-left: auto; */
  padding-top: 5px;
  width: 80%;
}
 
th {
  text-align: center;
  border: solid  rgb(0, 62, 78) 15px;
  border-width: 5px;
}
 
/* th, td, tbody, tfoot {
  border: solid rgb(0, 48, 41) 5px;
  padding: 5px;
} */
 
body {
  background-color: rgb(187, 142, 82);
  text-align: center;
  border: solid  rgb(0, 62, 78) 6px;
  font-size: 20px;
}
 
ul, li {
  text-align: center;
}
 
/* SALES PAGE Information */
 
header {
  background-color: rgb(62, 105, 127);
  height: 40px;
  padding-top: 30px;
}
 
footer {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color:rgb(1, 13, 91)
}

