h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  font-size: 46px;
  color:rgb(6, 6, 6);
}
img {
  border-radius: 10px;
  border:solid rgb(0, 62, 78) 5px;
}
nav {
  font-family: 'IBM Plex Mono', monospace;  
  font-size: 24px;
  nav-left: auto;
  float: left;
  color: rgb(14, 3, 3);
  margin-top: 30px;
  padding-left: 100px;
}

#feature-section {
  font-family: 'Cuprum', sans-serif;
  font-size: 26px;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Cuprum', sans-serif;
  font-size: 34px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*                                 SERIF FONT LIVES BELOW  */

body {
  background-color: rgb(187, 142, 82);
  text-align: center;
  border: solid  rgb(0, 62, 78) 60px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(22, 47, 40);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ^^^^^^^^^^^ SERIF FONT LIVES IN HERE ^^^^^^^^^^^^^^^^^^ */

ul, li {
  padding-top: 5px;
  text-align: center;
  color: rgba(22, 22, 22, 0.85);
  font-size: 20px;
  padding-bottom: 5px;
}

footer {
  padding-top: 10px;
}

/* FOR MOVING WHOLE SECTIONS */

#seattle {
  border: solid  rgb(0, 62, 78) 10px;
  border-radius: 10px;
  width: 450px;
  margin-left: 80px;
  margin-bottom: 20px;
}
#tokyo {
  border: dashed  rgb(0, 62, 78) 10px;
  border-radius: 180px;
  width: 450px;
  margin-left: 355px;
  margin-bottom: 20px;

}
#paris {
  border: solid rgb(0, 62, 78) 10px;
  width: 450px;
  border-radius: 10px;
  margin-left: 80px;
  margin-bottom: 20px;
}
#lima {
  border: solid rgb(0, 62, 78) 10px;
  width: 450px;
  border-radius: 10px;
  margin-left: 355px;
  margin-bottom: 20px;
}
#dubai {
  border: solid rgb(0, 62, 78) 10px;
  width: 450px;
  border-radius: 10px;
  margin-left: 80px;
}
#cookie-wear {
  border: solid  rgb(0, 115, 144) 10px;
  width: fit-content;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 180px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}


/* FOR THE SCROLLING TEXT */
.salmonCookieScroll {
  height: 50px;  
  overflow: hidden;
  position: relative;
 }
 .salmonCookieScroll h3 {
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(0, 68, 38);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);  
  transform:translateX(100%);
  /* Apply animation to this element */  
  -moz-animation: salmonCookieScroll 15s linear infinite;
  -webkit-animation: salmonCookieScroll 15s linear infinite;
  animation: salmonCookieScroll 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes salmonCookieScroll {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes salmonCookieScroll {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes salmonCookieScroll {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%);     
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }
