* {
  /* color: rgb(6, 6, 6); */
  font-family: 'Cuprum', sans-serif;
  font-size: small;
  font-size: 22px;
} 

img {
  display: inline-block;
  padding: 5px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 42px;
}

nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  font-size: 24px;
  nav-left: auto;
  float: left;
}

h2 {
  font-family: 'Cuprum', sans-serif;
  float: right;
}

table, td, thead {
  color: rgb(0, 0, 0);
  background-color: rgb(156, 159, 231);
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  border: solid  rgb(0, 62, 78) 3px;
  border-collapse: collapse;
  border-width: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 100px; 
  /* margin-left: auto; */
  padding-top: 5px;
  width: 80%;
}

th {
  text-align: center;
  border: solid  rgb(0, 62, 78) 15px;
  border-width: 5px;
}

/* th, td, tbody, tfoot {
  border: solid rgb(0, 48, 41) 5px;
  padding: 5px;
} */

body {
  background-color: rgb(187, 142, 82);
  text-align: center;
  border: solid  rgb(0, 62, 78) 6px;
  font-size: 20px;
}

ul, li {
  text-align: center;
}

/* SALES PAGE Information */

#infoLeft {
  align-content: space-around;
  text-align: right;
}

#infoRight {
  /* float: left; */
  text-align: center;
}

header {
  background-color: rgb(62, 105, 127);
  height: 40px;
  padding-top: 30px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color:rgb(1, 13, 91)
}