* {
  font-family: 'Cuprum', sans-serif;
  font-size: small;
} 
img {
  /* display: inline-block; */
  padding: 5px;
}
 
h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgb(1, 1, 1);
  font-size: 42px;
  padding-bottom: 10px;
  padding-top: 5px;
}
nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  font-size: 22px;
  nav-left: auto;
  color: rgb(42, 42, 128);
  padding-bottom: 20px;
}

 tr:first-child th {
  padding-left: 3px;
  padding-right: 3px;
 }

table, td {
  color: rgb(15, 6, 6);
  background-color: rgb(156, 159, 231);
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight:bold; */
  text-align: center;
  border: solid  rgb(0, 62, 78) 3px;
  border-collapse: collapse;
  border-width: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 100px; 
  padding: 5px;
  width: 80%;
}
td:hover {
 color: rgb(166, 228, 248);
}
th:hover {
  color: rgb(237, 75, 102);
}

th, tfoot {
  text-align: center;
  border: solid  rgb(0, 62, 78) 12px;
  border-width: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
 
body {
  background-color: rgb(187, 142, 82);
  text-align: center;
  border: solid  rgb(0, 62, 78) 6px;
  font-size: 20px;
}

footer {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}
