* {
  color: black;
  font-family: 'Cuprum', sans-serif;
  background-color: burlywood;
  font-size: larger;
} 
/* img {
  display: inline-block;
  border-radius: 25px;
  border: 3px solid #73AD21;
  padding: 5px;
  width: 120px;
  height: 45px;
} */
body {
  background-color: burlywood;
  text-align: center;
}

ul, li {
  text-align: center;
}

